.register__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.register__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 25px;
}

.register__title img {
  width: 50px;
  height: 50px;
}

.register__title h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  width: 294px;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register__form input {
  padding: 17px 0 17px 32px;
  height: 53px;
  border: 1px solid #6b6b6b;
  border-radius: 24px;
  background-color: transparent;
  font-size: 18px;
  color: #6b6b6b;
  font-weight: 500;
}

.register__form__container {
  width: 100%;
}

.register__objects__text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.register__objects__line {
  background-color: #919293;
  width: 100%;
  height: 1px;
}

.register__objects__title {
  color: #919293;
  font-size: 18px;
  font-weight: 500;
}

.form__btn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__lesson__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #6b6b6b;
  padding: 14px 0 14px 30px;
  height: 53px;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #f0908b;
  background-color: transparent;
  border-radius: 24px;
}

.form__lesson__btn img {
  width: 25px;
  height: 25px;
}

.register__btn {
  border: none;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  background-color: #f0908b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding-block: 15px;
}

.register__btn__link {
  border: none;
  text-decoration: none;
  font-size: 18px;
  color: #6b6b6b;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding-block: 15px;
  border: 1px solid #6b6b6b;
}

.modal__btn {
  border: none;
  height: 45px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: #0b8bf0;
}

.modal__text {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  padding: 10px 0;
  text-align: center;
}

.subjectsIdButton {
  background-color: #f0908b;
  color: white;
}

.test {
  width: 100%;
  height: 3px;
  background-color: black;
}

.error__register {
  color: red;
  text-align: center;
  text-align: justify;
  padding-inline: 5px;
}
